<% include ../partials/header %>

<h2><%=activity[0].Title%></h2>
<%=activity[0].Description%>
<%=activity[0].Address%>
<%=activity[0].City%>
<%=activity[0].State%>
<%=activity[0].Zip%>
We meet on...
    <ul>
        <% var whatDays = []; %>
            <%if(activity[0].Sunday == 1){%>
            <% whatDays.push('Sundays'); %>
            <%}%>
            <%if(activity[0].Monday == 1){%>
            <% whatDays.push('Mondays'); %>
            <%}%>
            <%if(activity[0].Tuesday == 1){%>
            <% whatDays.push('Tuesdays'); %>
            <%}%>
            <%if(activity[0].Wednesday == 1){%>
            <% whatDays.push('Wednesdays'); %>
            <%}%>
            <%if(activity[0].Thursday == 1){%>
            <% whatDays.push('Thursdays'); %>
            <%}%>
            <%if(activity[0].Friday == 1){%>
            <% whatDays.push('Fridays'); %>
            <%}%>
            <%if(activity[0].Saturday == 1){%>
            <% whatDays.push('Saturdays'); %>
        <%}%>
        <li><%=whatDays%></li>
    </ul>
    
<p>We start at <span id='starttime'><%=activity[0].StartTime%></span></p>
<li>We go for <%=activity[0].Duration%> Minutes</li>
    


<% include ../partials/footer %>