<% include ../partials/header %>

<div class='panel panel-default'>

<div class='panel-heading'><%=activity[0].Title%></div>
<div class='list-group-item'><%=activity[0].Description%></div>
<div class='list-group-item'><%=activity[0].Date%></div>
<div class='list-group-item'><%=activity[0].Address%></div>
<div class='list-group-item'><%=activity[0].City%> <%=activity[0].State%> <%=activity[0].Zip%></div>
<div class='panel-heading'>We meet...</div>
<div class='list-group-item'>
        <% var whatDays = []; %>
            <%if(activity[0].Sunday == 1){%>
            <% whatDays.push('Sundays'); %>
            <%}%>
            <%if(activity[0].Monday == 1){%>
            <% whatDays.push('Mondays'); %>
            <%}%>
            <%if(activity[0].Tuesday == 1){%>
            <% whatDays.push('Tuesdays'); %>
            <%}%>
            <%if(activity[0].Wednesday == 1){%>
            <% whatDays.push('Wednesdays'); %>
            <%}%>
            <%if(activity[0].Thursday == 1){%>
            <% whatDays.push('Thursdays'); %>
            <%}%>
            <%if(activity[0].Friday == 1){%>
            <% whatDays.push('Fridays'); %>
            <%}%>
            <%if(activity[0].Saturday == 1){%>
            <% whatDays.push('Saturdays'); %>
        <%}%>
        <%=whatDays%>
</div>
    
<div class='list-group-item'>We start at <%=moment(activity[0].StartTime, "HH:mm:ss").format('h:mma')%></div>
<div class='list-group-item'>We go for <%=activity[0].Duration%> Minutes</div>
</div>

<p><a href="/activity/<%=activity[0].ID%>/edit">Edit</a></p>


<% include ../partials/footer %>