<h1>Activities Detail</h1>
<style>
    td, th {
        border: 1px solid black;
    }
</style>

<li><%=activity[0].Title%></li>
<li><%=activity[0].Description%></li>
<li><%=activity[0].Address%></li>
<li><%=activity[0].City%></li>
<li><%=activity[0].State%></li>
<li><%=activity[0].Zip%></li>
<li>We meet on...</li>
    <ul>
        <%if(activity[0].Sunday){%>
        <li>Sunday</li>
        <%}%>
        <%if(activity[0].Monday){%>
        <li>Monday</li>
        <%}%>
        <%if(activity[0].Tuesday){%>
        <li>Tuesday</li>
        <%}%>
        <%if(activity[0].Wednesday){%>
        <li>Wednesday</li>
        <%}%>
        <%if(activity[0].Thursday){%>
        <li>Thursday</li>
        <%}%>
        <%if(activity[0].Friday){%>
        <li>Friday</li>
        <%}%>
        <%if(activity[0].Saturday){%>
        <li>Saturday</li>
        <%}%>
    </ul>
<li><%=activity[0].StartTime%></li>
<li>We go for <%=activity[0].Duration%> Minutes</li>
    