<% include ./partials/header %>

<h2>Welcome to social workout</h2>

<div id='homejumbotron'>
  <div id='searchactivities'>
      <form action="/search" method='POST'>
          <br>
          <label for="search"><p>Where do you wanna workout?</p></label>
          <input id='mainsearch' class="form-control"type="text" name='search' placeholder='e.g. kickball, basketball'>
      <input type="submit" class='btn btn-sm btn-primary'>
      </form>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

<h3>Nearby Workouts:</h3>
<hr/>
<% activities.forEach(function(activity){ %>
<a href="/activity/<%=activity.ID%>">
    <div class='activity-preview col-xs-12 col-sm-5 col-md-3 col-lg-4'>
        <p>
        <%=activity.Title%> at 
        <%=activity.City%>
        </p>
        <% if(activity.Date) { %>
            <p><span class='label label-info'><%=activity.Date.toString().substr(4, 6)%></span></p>
            <p></p><%=moment(activity.StartTime, "HH:mm:ss").format('h:mma')%></p>
        <%} else {%>
                <% var whatDays = []; %>
                <%if(activity.Sunday == 1){%>
                <% whatDays.push('Su'); %>
                <%}%>
                <%if(activity.Monday == 1){%>
                <% whatDays.push('Mo'); %>
                <%}%>
                <%if(activity.Tuesday == 1){%>
                <% whatDays.push('Tu'); %>
                <%}%>
                <%if(activity.Wednesday == 1){%>
                <% whatDays.push('We'); %>
                <%}%>
                <%if(activity.Thursday == 1){%>
                <% whatDays.push('Th'); %>
                <%}%>
                <%if(activity.Friday == 1){%>
                <% whatDays.push('Fr'); %>
                <%}%>
                <%if(activity.Saturday == 1){%>
                <% whatDays.push('Sa'); %>
                <%}%>
                <% for (var i=0; i < whatDays.length; i++){ %>
                    <span class='label label-primary'><%=whatDays[i]%></span>
                <%}%>

            <p><%=moment(activity.StartTime, "HH:mm:ss").format('h:mma')%></p>
        <%} %>

    </div>
</a>
        <%});%>
<% include ./partials/footer %>